.admin-panel{
    background-color: #333;
    color: #f9f9f9;
    padding: 5px 15px;
}
.admin-control {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.landing-block {
    position: relative;
    min-height: 26px;
}

.landing-block:hover {
    box-shadow: 0px 0px 1px black;
}

.landing-block > .landing-block-control {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 24px;
    height: 20px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.uk-modal-dialog{
    width:80%;
}
.landing-block-control:before {
    content: "\f121";
    font-family: "FontAwesome";
    color: #fff;
}