<div class="admin-panel">
    <div class="admin-control template-edit"><i class="uk-icon-code"></i> Редактировать шаблон</div>
    <div class="admin-control styles-edit"><i class="uk-icon-code"></i> Редактировать стили</div>
    <div class="admin-control edit-mode" data-state="on"><i class="edit-mode-icon uk-icon-toggle-on"></i> Режим редактирования</div>
    <div class="admin-control uk-float-right"><i class="uk-icon-sign-out"></i> Выход</div>
</div>
<div id="codeModal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close uk-float-right"></a>
        Файл: <span id="codeTitle"></span>
        <div id="codeWrapper"></div>
        <div class="uk-text-right uk-margin-top"><button id="saveCode" class="uk-button"><i class="uk-icon-save"></i> Сохранить</button></div>
    </div>
</div>
